.app{
    /* background-color: #fdfdfdec; */
    background-color: #FCFCFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home{
    text-align: center;
}
.home-image{
    width: 204.62px;
    height: 176.22px;
}
.home-text{
    font-weight:500;
    line-height: 24px;
    font-size: 0.75rem;
    padding-top: 2rem;
    text-align: center;
}

.home-text p {
    font-size: 14px;
    /* color: #535353; */
    color: rgba(0, 0, 0, 0.65);
    width: 75%;
    margin: auto;
    font-weight: 500;
    line-height: 17px;
}

.home-button{
    margin-top: 3rem;
    width: 80%;
    background-color: #2F3FD3;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.home-button:hover{
    background-color: #001a6e;
}

.already {
    padding-top: 0.5rem;
    font-size: 10px;
    color: #000000;
    font-weight: 500;
    text-align: center;
}


/* Signup */
.signup-container{
    /* text-align: left; */
    width: 80%;
    margin: auto;
}
form{
    margin-top: 1rem;
}

.signup-container h3{
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}
.signup-container p{
    padding-top: 0.2rem;
    color: #969696;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;  
}

label{
    font-size: 0.75rem;
    font-weight: 400;
}
.form-input{
    margin-top: 5px;
}
input {
    width: 100%;
    padding: 4px 10px;
    margin: 3px 0;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

input::placeholder {
    color: #ccc;
    font-size: 10px;
    font-weight: 500;
}

  .button {
    margin-top: 1.2rem;
    width: 100%;
    background-color: #2F3FD3;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.7rem;
    font-weight: 500;
    font-size: 0.751rem;
    cursor: pointer;
  }

  .continue {
    font-size: 0.625rem;
    text-align: center;
    padding-top: 1.5rem;
    color: #969696;
    font-weight: 500;
  }
  
.forget{
    margin-top: -13px;
    font-size: 0.65rem;
    font-weight: 500;
    display: flex;
    justify-content: right;
    color: #969696;
}

.social{
    color: #0c0000;
    font-weight: 500;
    padding-top: 1.2rem;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-evenly;
}
.facebook{
    font-size: 0.625rem;
    background-color: #ffffff;
    text-align: center;
    min-width: 5.8rem;
    padding: 8px;
    height: auto;
    border-radius: 1rem;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.05);
}
.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  i {
    position: absolute;
    top: 13%;
    right: 5%;
    cursor: pointer;
  }
a{
    text-decoration: none;
}
@media screen and (min-width:756px) {
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 40rem;
        box-shadow: 0 0.2rem 0.7rem 0 #bebebe;
    }
    .signup-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40rem;
        height: 40rem;
        box-shadow: 0 0.2rem 0.7rem 0 #bebebe;
    }
}


.loading {
    margin: 200px auto;
    border: 14px solid #777777;
    border-radius: 50%;
    border-top: 14px solid #2F3FD3;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }